<h1>Ye Olde Shoppe</h1>
<% @items.each do |item| %>
  <div><br>
    <%= link_to item.name, item_path(item) %><br>
    <%= item.description %><br>
    $<%= item.price %><br><br>
    <%= link_to "Edit", edit_item_path(item) %>
    <%= link_to "Delete", item_path(item), :method => 'delete' %>
    <br>
  </div>
<% end %>
<div>
  <br><a href="/items/new">NEW</a><br>
</div>
