<h1>Ye Olde Shoppe</h1>
  <div>
    <strong><%= @item.name %><br></strong>
    <%= @item.description %><br>
    $<%= @item.price %><br><br>
    <a href="/items/<%= @item.id %>/edit">EDIT</a><br>
    <form action="/items/<%= @item.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="DELETE">
    </form><br>
  </div>
