<h1>Ye Olde Shoppe</h1>
  <div>
    <strong><%= @item.name %><br></strong>
    <%= @item.description %><br>
    $<%= @item.price %><br><br>
    <%= link_to "Edit", edit_item_path %>
    <%= link_to "Delete", item_path, :method => 'delete' %>
  </div>
