<% image_urls = ["http://cdn.shopify.com/s/files/1/0237/4165/products/216910_IND016_large.jpg?v=1439917563", "http://cdn.shopify.com/s/files/1/0237/4165/products/224946_-_3_Drawers_-_Teal2_13_large.jpg?v=1414607959", "http://cdn.shopify.com/s/files/1/0237/4165/products/241851-H018_large.JPG?v=1441747511", "http://cdn.shopify.com/s/files/1/0237/4165/products/223307_4d04dad0-c27b-4a0d-9514-915009a75caf_large.JPG?v=1439312856"] %>


<div class="section group" id="products-grouping">
  <% @products.each do |product| %>
  <div class="col span_1_of_3 products-item">
  <div class='appended-description'></div>
    <%= link_to product_path(product) do %>
      <%= image_tag(image_urls.sample, width: "100%") %>
      <div class="content-title"><%= product.name %></div><br>
      <%= product.description %><br>
      $<%= product.price %><br><br>
    <% end %>
  </div>
<% end %>
</div>


